flex-version = flex
support-for-ie = false
vendor-prefixes = official
@require '../../node_modules/nib/index.styl'
@require 'variables'
@require 'vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

html, body, #app
  background #f7f9fc
  width 100%
  width 100vw

a
  color var(--link)
  text-decoration none

  &:hover
    color var(--hover)

#app
  df()
  color var(--txt)
  padding-top 3rem

html,
body,
input,
select,
textarea,
button,
label,
p,
h1,
.ni-btn__container {
  font-family: 'Garet', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-smoothing: always;
}

.logo
  top 2rem

.top-bar,
#bottom
  display none !important

h1
  font-size 56px !important
  font-weight 700 !important
  line-height 64px !important
  color #072d63 !important

p
  margin-top: 24px !important;
  font-size 16px !important
  font-weight 400 !important
  line-height 24px !important
  color #072d63 !important

.section 
  background #f7f9fc !important

.ni-field
  font-size 18px !important
  font-weight 400
  line-height 32px !important
  border none
  color #072d63 !important
  width 100%
  border-radius 8px !important
  background #fff !important
  border solid 1px rgba(7,45,99,0.1) !important
  padding 16px 24px !important
  height: auto !important

.ni-field:focus {
  border-color: #072d63!important;
}

.ni-field::placeholder
  color #072d63 !important
  font-weight 400
  opacity 1

label[for="faucet-address"]
  display block !important
  width 100%
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #072d63;
  margin-bottom: 8px;

.ni-form-group 
  flex-wrap: wrap;
  padding-top: 24px !important;

.ni-form-group__field
  width 100%
  display block
  flex: auto !important;

.section input:-webkit-autofill {
  -webkit-text-fill-color: #072d63;
  -webkit-box-shadow: 0 0 0 3rem #fff inset !important
  background: transparent !important;
}

.ni-btn 
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  background-image: url('../assets/media/arrow-backward.svg');
  padding-top: 64px !important

.ni-btn .ni-btn__container
  background-color: #ff7044 !important;
  border: none;
  border-radius: 50px;
  padding 16px 32px !important
  height: auto !important
  font-size: 18px !important;
  line-height: 24px;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  background-image: url(/img/arrow-backward.5e3c17e3.svg) !important;
  background-size: 10px !important;
  background-position: calc(100% - 32px) center !important;
  background-repeat: no-repeat !important;

.ni-btn .ni-btn__container 
  padding-right: 48px !important

.ni-btn .ni-btn__container i 
  display: none !important

.ni-btn .ni-btn__container span
  margin-left 0 !important
  padding-left 0 !important

.ni-btn.js-disabled,
.ni-btn:disabled 
  opacity: 1 !important;

.ni-btn.js-disabled .ni-btn__container ,
.ni-btn:disabled .ni-btn__container
  background-color rgba(7, 45, 99, 0.05) !important
  padding-right: 32px !important
  background-image: none !important

.ni-btn.js-disabled .ni-btn__value,
.ni-btn:disabled .ni-btn__value
  color #072d63 !important

.ni-btn.js-disabled.success .ni-btn__value,
.ni-btn.success:disabled .ni-btn__value
  color #50e3c2 !important
  
.ni-btn.js-disabled.success .ni-btn__container
.ni-btn.success:disabled .ni-btn__container
  background-image: url('../assets/media/check-circle-round.svg') !important;
  background-size: 24px !important;
  background-position: 32px center !important;
  background-repeat: no-repeat !important;

.ni-btn.js-disabled.success .ni-btn__container
.ni-btn.success:disabled .ni-btn__container
  padding-left: 64px !important;

.ni-btn.js-disabled.failed .ni-btn__value,
.ni-btn.failed:disabled .ni-btn__value
  color #ff7044 !important
  
.ni-btn.js-disabled.failed .ni-btn__container
.ni-btn.failed:disabled .ni-btn__container
  background-image: url('../assets/media/check-circle-round.svg') !important;
  background-size: 24px !important;
  background-position: 32px center !important;
  background-repeat: no-repeat !important;

.ni-btn.js-disabled.failed .ni-btn__container
.ni-btn.failed:disabled .ni-btn__container
  padding-left: 64px !important;

.ni-btn .js-error-message
  display: block !important;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #072d63;
  margin-top: 8px;



@font-face {
  font-display: swap;
  font-family: "Garet";
  src: url("./fonts/garet-regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Garet";
  src: url("./fonts/garet-bold.woff2");
  font-weight: 700;
  font-style: normal;
}